*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Arial Nova';
}

body {
    background-color: #181818;
    margin: 0;
    padding: 0;
}

.game-area {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bingo-container {
    display: grid;
    grid-template-columns: repeat(5, 4em);
    grid-template-rows: repeat(6, 4em);
    gap: .25em;
}

.bingo-tile {
    border: 1px solid #888;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.borderless {
    border: none;
}

/* for selected tiles */
.active {
    border: 1px solid white;
}

/* to enter numbers in user bingo table  */
.enter-number {
    color: white;
}


/* Hide stuff */
.hidden {
    display: none;
}

/* start game  */
.start-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px 35px;
    background-color: transparent;
    color: white;
    border: .25px solid white;
    border-radius: 20px;
    text-transform: uppercase;
}

.btn:hover {
    color: black;
    background-color: whitesmoke;
}


/* for the tables to be arranged properly in smaller screens */
@media (max-width: 480px) {
    .game-area {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .hidden {
        display: none;
    }
    
    
}